// use only the available space inside the 400x400 frame
.frame {
  position: relative;
	z-index: 0;
  width: 100%;
  height: 300px;
  border-radius: 2px;
	box-shadow: 1px 1px 6px #a9a9a9;
	overflow: hidden;
  background: #2c3e50;
  color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.frame:before {
  content: 'DAY #2';
	position: absolute;
	z-index: 100;
	width: 110%;
	box-shadow: 1px 1px 3px #000000b9;
  background: #002459;
  color: #fff;
  padding: 10px 50px;
  transform: skew(10deg, -10deg) translate(-20px);
  font-weight: bold;
}

.center {
  display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.flipflop {
	position: relative;
	z-index: 10;
	background: #fff;
	color: #2c3e50;
	font-size: 28px;
	text-transform: uppercase;
	padding: 1rem 2rem;
	box-shadow: 1rem 1rem #8e44ad;
	transition: all .3s ease;
}

.flipflop:hover {
	background: #8e44ad;
	color: #fff;
	transform: translate(1rem, 1rem);
	box-shadow: -1rem -1rem #fff;
}