.breadcrumb {
  color: #777;
  font-size: .9rem;
  text-transform: capitalize;
  font-weight: normal;
  font-family: 'Open Sans Condensed';
  letter-spacing: 1px;
}

.heading {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 2rem;

  > p {
    margin-bottom: 1.45rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 10px;
}
