.breadcrumb {
  display: inline-block;
  color: #777;
  font-size: .9rem;
  font-weight: normal;
  font-family: 'Open Sans Condensed';
  letter-spacing: 1px;
}

.heading {
  margin: 0 auto;
  max-width: calc(980px - 4rem);
}

.container {
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 10px;
}
