.header {
  padding: 1rem 0;
  background-color: var(--primary);
}

.header-content {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  color: #fff;
  font-size: 2.25rem;
  text-decoration: none;
}

.title:hover {
  color: var(--primary);
}

@media (max-width: var(--tabletwidth)) {
  .title {
    font-size: 1.75rem;
  }
}

@media (max-width: var(--mobilewidth)) {
  .title {
    font-size: 1.5rem;
  }
  h1 {
    margin-bottom: 1rem;
  }
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #fff;
  font-size: 0.9rem;
  margin-right: 1.2rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-item:hover {
  color: #e4e4e4;
}

.nav-item:hover:after {
  content: '';
  height: 1px;
  width: 100%;
  background: #e4e4e4;
  position: absolute;
  left: 0;
  bottom: 0;
}

.active-nav-item {
  font-weight: bold;
}

.active-nav-item:after {
  content: '';
  height: 1px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}