.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.link {
  color: #999;
}